#button-contact {
    position: fixed;
    bottom: 120px;
    right: 6px;
    cursor: pointer;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    overflow: hidden;
}

#button-contact::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: rgba(187, 104, 113, 0.6);
    z-index: -1;
    opacity: .1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform-origin: 50% 50%
}

#button-contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: rgba(187, 104, 113, 0.34);
    z-index: -1;
    opacity: .1;
    -webkit-animation: alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: alo-circle-anim 1.2s infinite ease-in-out;
    animation: alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

#button-contact img {
    width: 100%;
    max-width: 32px;

}

#button-contact .mySlides {
    opacity: 0;
    transform: translateX(40px);
    position: fixed;
}

#button-contact .mySlides.active {
    transform: translateX(0px);
    transition: 0.8s;
    opacity: 1;
    position: relative;

}

#inf-contact {
    position: fixed;
    bottom: 130px;
    right: 80px;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.open-contact {
    padding: 7px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#inf-contact .item {
    /* margin: 4px 0; */
    background-color: #ffffff;
    padding: 12px 24px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

}

#inf-contact .item:hover {
    background-color: #CBCBCB;
}

#inf-contact .item p {
    margin: 0;
}

#inf-contact .item div {
    width: 100%;
}

#inf-contact .item img {
    max-width: 32px;
}

#inf-contact .item .top {
    color: #212121;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

#inf-contact .item .bot {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

#inf-contact a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

#inf-contact a:hover {
    color: #c82847;
}

#inf-contact img {
    margin-right: 16px;
}

@-moz-keyframes alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-o-keyframes alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}